.text-bold {
	font-family: hel-5;
	font-weight: bold;
}

/* ! -----------------------------Media Queries----------------------------- */
@media only screen and (min-width: 768px) {
	.article-result {
		flex-direction: row;
		justify-content: space-between;
	}

	.width-40 {
		width: 40%;
	}

	.width-60 {
		width: 58%;
	}

	.serch-category {
		grid-area: category;
	}

	.result-txt {
		grid-area: txt;
	}

	.search-result {
		grid-area: result;
	}
	.search-page-main {
		grid-template-columns: 25% 75%;
		column-gap: 2%;
		grid-template-areas:
			'category txt'
			'category result';
	}
}
