/* ?  -----------------------------HEADER----------------------------- */

header nav {
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.fa-building {
	font-size: 1.5rem;
}

.header-logo-text {
	padding-left: 0.2rem;
}

.header-links,
.header-user {
	font-size: 0.9rem;
}

.header-user ul {
	align-items: center;
}

.header-btn {
	font-size: 0.8rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	text-align: center;
	border-radius: 0.1rem;
}

/* ?  ------------------------------Main content------------------------------ */
main {
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.fa-plus-square,
.fa-couch {
	font-size: 1.5rem;
}

.main-1 {
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.view-all {
	justify-self: flex-end;
}

/* ?  ---------------------------------Footer--------------------------------- */

.f-row-1-part-1 p {
	text-align: center;
}

.fa-building-footer {
	font-size: 3rem;
}

.footer-logo-text {
	font-size: 1.5rem;
	padding-left: 0.3rem;
}

select {
	text-align: center;
	text-align-last: center;
	-moz-text-align-last: center;
}

.footer-icons {
	font-size: 1.5rem;
}

.footer-row-2-content,
.footer-row-1 {
	padding-right: 5%;
	padding-left: 5%;
}

.f-row-1-part-3 select {
	width: 70%;
}

/* ! -----------------------------Media Queries----------------------------- */
@media only screen and (max-width: 350px) {
	header nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.header-links ul {
		margin-top: 2%;
		border-top: 1px solid gray;
		padding-top: 3%;
		align-items: center;
		flex-direction: column;
	}

	.f-cate {
		flex-direction: column;
	}

	.f-row-1-part-3 div {
		flex-direction: column;
	}

	.main-1 {
		grid-template-columns: 100%;
	}

	.view-all {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	/* Header <----------------------- */
	.fa-building,
	.fa-user-circle {
		font-size: 2rem;
	}

	.header-logo-text {
		padding-left: 0.4rem;
		font-size: 1.2rem;
	}

	.header-links,
	.header-user {
		font-size: 1.1rem;
	}

	.header-links-items {
		width: 83%;
	}

	.header-links-items ul {
		justify-content: start;
	}

	.header-user {
		display: flex;
		width: 17%;
	}

	header nav,
	.footer-row-2-content,
	.footer-row-1 {
		padding-top: 1.5%;
		padding-bottom: 1.5%;
	}

	.herder-links-item-1,
	.herder-links-item-2,
	.herder-links-item-3 {
		padding-right: 2rem;
	}

	.herder-links-item-4 {
		display: inherit;
	}

	/* Main <----------------------- */
	.main-1 {
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
	}
	/* Footer <----------------------- */
	.footer-row-1 {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.f-row-1-part-1 {
		width: 25%;
	}

	.fa-building-footer {
		font-size: 3rem;
	}

	.f-row-1-part-2 {
		width: 50%;
		display: flex;
	}

	.f-row-1-part-2 section {
		width: 50%;
	}

	.f-cate {
		margin-right: 5%;
	}

	.f-row-1-part-3 {
		/* width: 25%; */
	}

	.f-row-1-part-3 div {
		flex-direction: column;
	}

	.f-row-1-part-3 label {
		width: 50%;
	}

	.footer-row-2-content {
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-icons {
		width: 25%;
	}
}
